<form action="/figures" method="post">
<p><label> Name:</label> <input type="text" name="figure[name]" id="figure_name"></p>

<h2>Titles</h2>
<%@titles.each do |title| %>
<p><label><input type="checkbox" value="<%= title.id %>" id="title_<%= title.id %>" name="figure[title_ids][]"><%= title.name %></label></p>
<% end %>

<h2>Create New Title</h2>
<input type="text" name="title[name]" id="new_title">

<h2>Landmarks</h2>
<%@landmarks.each do |landmark| %>
<p><label><input type="checkbox" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]"><%= landmark.name %></label></p>
<% end %>

<h2>Create New Landmark:</h2>
<p>
  <label> Name:</label> <input type="text" id="new_landmark" name="landmark[name]" >
  <label> Year:</label> <input type="text" name="landmark[year_completed]">
  <input type="submit" name="submit" value="Create New Figure">
</p>

</form>
